@import "../../styles/settings.scss";

.formTitle {
  h3 {
    color: $color-light;
    font-size: $base-size * 2;
    font-weight: 300;
    line-height: 1.5;
  }
}

.formBox {
  margin: 0 auto;
  margin-top: $base-size*3;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  input {
    width: 100%;
    border: 3px solid $color-light;
    height: $base-size * 2;
    margin: $base-size 0;
    background-color: $color-blue;
    transition: $transition;
  }

  input::placeholder {
    color: $color-light;
  }

  input:focus {
    outline: none;
    background-color: $color-light;
    input::placeholder {
      color: $color-dark;
    }
  }

  .button {
    margin: $base-size auto;
    max-width: $base-size * 8;
    background-color: $color-light;
    padding: $base-size;
    font-size: $base-size * 1.5;
    font-weight: 500;
    text-align: center;
    transition: $transition;
    outline: none;
    border: none;
    color: $color-blue;
  }

  .button:hover {
    scale: 1.1;
    cursor: pointer;
  }
}

@media (max-width: 768px) {

  .formTitle {
    h3 {
      color: $color-light;
      font-size: $base-size *1.5;
      font-weight: 300;
      line-height: 1.5;
    }
  }

  .formBox {
    max-width: 300px;
  }

}
