@import "../../styles/settings.scss";


.welcomeSection{
    padding: 0;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-blue;
}

.titleBox{
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.writings{
    h1{
        font-size: $base-size*3.4;
        font-weight: 900;
        margin-bottom: $base-size;
    }

    p{
        font-size: $base-size*1.5;
    }
}