@import "../../styles/settings.scss";

.about{
    padding-top:$base-size*6;
    padding-bottom: 0 ;
}

.mainBox{
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.attribute{
    margin: $base-size;
    min-width: 400px;
    max-width: 420px;
}

.attributeTitle{
    h3{
        font-size: $base-size*2;
        font-weight: 300;
        line-height: 1.5;
    }
}

.attributeIcon{
    margin: $base-size*5 0;
    scale:7;
    color: $color-blue;
}