@import "../../styles/settings.scss";

.about{
    padding-top:$base-size*6;
    padding-bottom: 0 ;
}

.mainBox{
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.attribute{
    margin: $base-size;
    min-width: 400px;
    max-width: 420px;
}

.attributeTitle{
    padding-top: $base-size;
    border-top: 4px solid $color-blue;
    -webkit-box-shadow: inset 0px 34px 15px -30px rgba(13, 94, 175, 1);
    -moz-box-shadow: inset 0px 34px 15px -30px rgba(13, 94, 175, 1);
    box-shadow: inset 0px 34px 15px -30px rgba(13, 94, 175, 1);
    h3{
        font-size: $base-size*2;
        font-weight: 300;
        line-height: 1.5;
    }
}

.attributeIcon{
    margin: $base-size*3 0;
    font-size: $base-size*5;
    color: $color-blue;
}

@media (max-width: 1400px) {
    .mainBox{
        margin:0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
  }

@media (max-width: 992px) {
    .about{
        padding-top:$base-size*2;
        padding-bottom: 0 ;
    }

 

    .attribute{
        margin: $base-size*3 $base-size;
        min-width: 400px;
        max-width: 420px;
    }
}

@media (max-width: 768px) {
    .about{
        padding-top:$base-size 0;
        padding-bottom: 0 ;
    }

    .attribute{
        margin: $base-size*2 0;
    }

    .attribute{
        margin: $base-size*3 0;
        min-width: 300px;
    }

    .attributeTitle{
        max-width: 300px;
        margin: 0 auto;
        h3{
            font-size: $base-size* 1.5;
            line-height: 1;
        }
    }

    .attributeIcon{
        max-width: 300px;
        margin: 0 auto;
    }

    .attributeDescription{
        max-width: 300px;
        margin: 0 auto;
        p{
            font-size: $base-size*0.8;
        }
    }

    .mainBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
