@import "../../styles/settings.scss";

.workLook{
    text-align: start;
    padding: 0;
}

.rule{
    display: flex;
    padding: $base-size*0.5;
    margin: $base-size*2 0;
    border: 2px dashed $color-blue;
}

.ruleNumber{
    display: flex;
    align-items: center;
    font-size: $base-size*2;
    color: $color-blue;
}

.ruleDescription{
    padding: $base-size*0.5;
    margin-left: $base-size*0.5;
    font-weight: 500;
}

